<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascript/ajax.js"></script>
    <title>BucketList</title>
  </head>
  <body>
    <!--CONTAINER -->
    <div class="container-fluid">
    <!-- CONTAINER -->
      <div class="background-container">

        <!--NAV BAR-->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">BucketList</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- NAV BAR END -->
        <!-- HEADER -->
        <header>
          <div class="text-center">
              <h1> BUCKET LIST</h1>

              <p>Login or Register with:</p>

              <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
              <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
          </div>
        </header>
        <!-- HEADER END -->
        </div>
        <!-- BANNER -->
        <div class="row banner">
            <h2 class="text-center">Track All of Your Bucket List Events!</h2>
        </div>
        <!-- APP INFO  -->
        <div class="row container marketing">
            <div class="col-xs-6">
              <h4 class="text-center">List out what you have always wanted to do</h4>
            </div>
            <div class="col-xs-6">
              <h4 class="text-center">Meet others who share your interests</h4>
            </div>
        </div>
        <!-- APP INFO END -->
    </div>
    <!-- CONTAINER END-->
  </body>
  <footer>
    <p class='text-center '>
      &copy; BucketList 2015
    </p>
  </footer>
</html>
