<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascript/ajax.js"></script>
    <title>BucketList</title>

    <!-- twitter -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>

    <style>
        #tweet-container {
          background-color: #F0F0F0;
          position: fixed;
          float: left;
        }

    </style>
</head>

  <body>
    <!--NAV BAR-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">BucketList</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAV BAR END -->
  <!-- CONTAINTER -->
  <div class="container">

      <div class="page-header text-center">
          <h1><span class="fa fa-anchor"></span> Profile Page</h1>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

    <div class="row">
        <!-- USER INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> User Info</h3>
              <p>
                  <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <%= user.local.email %><br>

              </p>
              <!-- START OF ITEM SUBMIT FIELD -->
              <form action="#" method="post">
                  <div class="form-group">
                      <label>Bucket Item</label>
                      <input type="text" class="form-control" name = "bucket_item" placeholder="What is your Bucket Item?">
                  </div>
                  <div class="form-group">
                      <label>Entry</label>
                     <textarea class="form-control" name= "entry" placeholder="How would you describe your item?" rows="8" cols="40"></textarea>
                  </div>
                  <div class="form-group">
                      <label>Category</label>
                      <select class="form-contorl" name="category">
                          <option value="event">Event</option>
                          <option value="milestone">Milestone</option>
                          <option value="accomplishment">Accomplishment</option>
                      </select>
                  </div>
                  <button id="submit-item" type="submit" class="btn btn-warning btn-lg">Add to bucket!</button>
              </form>
              <!-- ***END OF ITEM SUBMIT FIELD -->
          </div>
        </div>
    </div>

      <h1>TWEETS</h1>
      <ol id="tweets"></ol>
      <a href="#" id="submit">get tweets</a>

      <!-- twitter -->
      <div id="tweet-container"></div>



  </div>
  <!-- CONTAINER END -->
  </body>

  <footer>
    <p class='text-center '>
      &copy; BucketList 2015
    </p>
  </footer>


  <script>
  $(document).ready(function() {


      var socket = io();
      socket.on('connect', function(){
        console.log('Connected!');
      });
      socket.on('tweets', function(tweet){
        var html = '<div class="row"><div class="col-md-6 col-md-offset-3 tweet"><img src="' + tweet.user_profile_image + '" class="avatar pull-left"/><div class="names"><span class="full-name">' + tweet.name + ' </span><span class="username">@' +tweet.screen_name + '</span></div><div class="contents"><span class="text">' + tweet.text + '</span></div></div></div>';
        $('#tweet-container').prepend(html);
        // console.log(tweet);
      });


      // TWITTER API SECTION ========================================================
        console.log('document jquery ready!');
        $('#submit').click(function(){
          var search_term = {
            q: 'basketball'
          };
          search(search_term);
        });
      });

      function search(search_term) {
        $.ajax({
          url: './twitter.ejs',
          dataType: 'jsonp',
          success: function(data) {
            console.dir(data);
          }
        });

    } //end document ready



  </script>

</html>
