<!-- TWITTER -->
<!doctype html>
<html>
<head>
    <title>Twitter API Testing</title>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
</head>
<body>
    <h1>Twitter API Testing</h1>

    <div id="tweet-container"></div>

    <script type="text/javascript">



    </script>
</body>
</html>
<!-- TWITTER END -->
