<!-- views/itmes/new.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascript/ajax.js"></script>
    <title>BucketList</title>
  </head>
  <body>
    <!--NAV BAR-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">BucketList</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAV BAR END -->
    <!-- CONTAINER -->
    <div class="container-fluid">
      <!-- START OF ITEM SUBMIT FIELD -->
      <form action="#" method="post">
          <div class="form-group">
              <label>Bucket Item</label>
              <input type="text" class="form-control" name = "bucket_item" placeholder="What is your Bucket Item?">
          </div>
          <div class="form-group">
              <label>Entry</label>
             <textarea class="form-control" name= "entry" placeholder="How would you describe your item?" rows="8" cols="40"></textarea>
          </div>
          <div class="form-group">
              <label>Category</label>
              <select class="form-contorl" name="category">
                  <option value="event">Event</option>
                  <option value="milestone">Milestone</option>
                  <option value="accomplishment">Accomplishment</option>
              </select>
          </div>
          <button id="submit-item" type="submit" class="btn btn-warning btn-lg">Add to bucket!</button>
      </form>
      <!-- ***END OF ITEM SUBMIT FIELD -->
    </div>
    <!-- CONTAINER END-->
  </body>
  <footer>
    <p class='text-center '>
      &copy; BucketList 2015
    </p>
  </footer>
</html>
