/******************************************************
BOOTSTRAP OVERRIDE
******************************************************/
body{
  background-color: rgba(46, 88, 98, 0.73);
}
.background-container{
  height: 500px;
  background: url(/images/nature-sunny-people-clouds.jpg)bottom no-repeat;
  background-size: cover;
}

.navbar{
  margin: 0 ;
  padding: 7px;
  border-radius: 0;
}

.navbar-inverse{
  background-color: rgba(69, 203, 237, 0.68);
  border: none;

}

h1{
  margin: 0;
}

.container-fluid {
  padding: 0;
}

header{
  padding: 100px 0 0 0;
  width: 75%;
  margin: 0 auto;
}

header h1{
  font-size: 4em;
  color: white;
}

header p{
  color: white;
}

a.navbar-brand:hover,
a.navbar-brand:visited {
    color: white   !important;
}

.home-page-options h1,
.home-page-options p{
  color: white;
}

ul.nav li a,
ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: #787878 !important;
}

/******************************************************
HOME PAGE
******************************************************/
.banner{
  color: white;
  height: 80px;
  background-color: #006078;

}



.image-panel1{
  /*background: url(/images/sea-sky-beach-holiday.jpg)bottom no-repeat;*/
  background: linear-gradient(rgba(0, 96, 120, 0.54), transparent 50%), linear-gradient(0deg, #fff, transparent 10%),url(/images/sea-sky-beach-holiday.jpg)bottom no-repeat;;
  height: 400px;
  background-size: cover;
}

.image-panel2 {
  background: linear-gradient(rgba(0, 96, 120, 0.54), transparent 50%), linear-gradient(0deg, #fff, transparent 10%), url(/images/sea-sunny-person-beach.jpg)bottom no-repeat;
  height: 400px;
  background-size: cover;
}

.image-panel1,
.image-panel2 {
  border-top: 10px  solid #3A3A3A;
  border-left: 5px  solid #3A3A3A;
  border-right: 5px  solid #3A3A3A;
  color: white;
}
.image-panel1 h4,
.image-panel2 h4{
  margin: 100px 0 0 0 ;
  font-weight: bold;
  font-size: 3em;
}


/******************************************************
FOOTER
******************************************************/

footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
   background: #3A3A3A;
}

footer p{
  padding-top: 5px;
  color: #828282;
}

/******************************************************
TWITTER FEEDS ON PROFILE PAGE
******************************************************/

#tweet-container,
.followers,
.item-container {
  background-color: #F0F0F0;
  padding: 10px;
  max-height: 500px;
  overflow: scroll;
}

.socket-container{
    margin: 10px 0 100px 0;
}

#tweetSocketBtn{
  margin: 10px 0;
}

.tweets{
  padding: 10px;
  color: white;
  border: 5px solid;
  border-radius: 5px;
  background-color: #80DBF3;
  margin: 10px 20px;
}

.tweets a {
  color: white;
}

.tweets p {
    margin: 20px;
    display: inline;
    font-size: 20px;
}

.socket-tweets {
  margin: 10px 0;
  border: 5px solid white;
  background-color: #80DBF3;
  color: white;
  padding: 10px;
}

.socket-tweets img {
  margin: 0 10px;
}




/******************************************************
LOG IN AND SIGN UP
******************************************************/

#login,
#signup{
  margin-top: 50px;
  color: white;
}

.list-item{
  color: white;
}

.list-item p {
  background-color: #3A3A3A;
  padding: 5px 10px;
  border-radius: 5px;
  border: 5px solid #fff;
}
