<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../Front-end/stylesheets/main.css"> -->
    <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="../Front-end/scripts/script.js"></script> -->
    <title>BucketList</title>
  </head>
  <body>
    <!--NAV BAR-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">BucketList</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAV BAR END -->
    <!-- CONTAINER -->
    <div class="container">
      <h2>Show.ejs</h2>

      <!-- jonathan testing -->
      <div>

        <ul class="results"></ul>

      </div>

    </div>
    <!-- CONTAINER END -->
  </body>

  <script type="text/javascript">

  var ulResults = $('.results');

  $.ajax({
    method: 'get'
    , url : 'http://localhost:8080/users'
    , success : function(dataThatCameback){
      console.log(dataThatCameback);
      dataThatCameback.forEach(function(el){
        ulResults.append(
          '<li>' + el.name + " | "
          + el.email + " | "
          + el._id
          +  '<button id="' + el._id + '">' + "x" + '</button>'
           + '</li>'
        );

        $('#' + el._id).on('click', function(evt){
          console.log(evt.target.id);
          $.ajax({
            method: 'delete'
            , url : 'http://localhost:8080/users/' + evt.target.id
            , success : function(dataThatCameback){
              // Removed it succesfully if dataThatCameback is {message: "succesfully deleted"}
              console.log(dataThatCameback);
              // Remove locally
              $('#' + evt.target.id).parent().hide('slow');
            }
          });

        });

      });
    }
  });




  </script>

</html>
